
<%= render :partial => "form", :locals => {:query => @query} %>

<% if @query %>

<h4>
  <%= pluralize(@results.length, "thesis") %> found matching "<%= @query %>"
</h4>

<ul>
  <% for result in @results %>
      <li>

    <% if result.is_a? Documentation%>
  
      
    
    <p>
        <b>
          <a href="<%= thesis_url(result.thesis) %>"><%= result.thesis.title %></a>
        </b>
      </p>
      <p>
        <em>by <%= result.thesis.person.full_name %></em>, <%= result.thesis.year %>
      </p>
    <% end %>
    <% if result.is_a? Person %>
    <p>
        <b>
          [PERSON] <a href="<%= person_url(result) %>"><%= result.full_name %></a>
        </b>
      </p>
    <% end %>
    <% if result.is_a? Thesis %>
    <p>
        <b>
          <a href="<%= thesis_url(result) %>"><%= result.title %></a>
        </b>
      </p>
      <p>
        <em>by <%= result.person.full_name %></em>, <%= result.year %>
      </p>
    <% end %>
    
        </li>

  <% end %>
</ul>

<% end %>