<script type="text/template" id="thesis-template">
  <h4><%= @thesis.title %> (<%= @thesis.year %>) <%= favorite_star(@thesis, current_user) %></h4>
  <h5><%= @thesis.person.full_name if @thesis.person %></h5>

  <%= link_to 'Edit', edit_thesis_path(@thesis) %>

  <div>
    <% if @thesis.documentations %>
      <% @thesis.documentations.each do |document|%>
        <p>PDF: <%= document.link_to_pdf(document.media_file_name)%></p>
        <div><%= markdown document.paper if document.paper %></div>
      <% end %>
    <% end %>
  </div>
  
</script>