<%= form_for(@thesis) do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>

      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
