<%= form_for(@thesis, :html => {:multipart => true}) do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h4>
      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <header>

    <h3>
      <input placeholder="First Name" type="text" name="person[first]" <%= edit_value(@thesis.person,'first') %>/>
      <input placeholder="Last Name" type="text" name="person[last]" <%= edit_value(@thesis.person,'last') %>>
    </h3>

    <h2>
      <input placeholder="Title" type="text" name="thesis[title]" id="thesis_title" size="30" <%= edit_value(@thesis,"title") %>/>
    </h2>

    <h4>
      <input placeholder="Year" id="thesis_year" type="number" name="thesis[year]" size="30" max="<%= Date.today.year %>" min="1970" <%= edit_value(@thesis,'year') %>/>
    </h4>

  </header>

  <div class="abstract">
    <h6>Abstract:</h6>
    <textarea id="thesis_abstract" placeholder="Abstract..." name="thesis[abstract]"><%= @thesis.abstract %></textarea>
  </div>
  
  <div class="documentations-list">
    <h4>Documentations:</h4>
    <ul class="zebra">
      <% (@thesis.documentations || []).each  do |documentation| %>
      <li class="documentation" data-id="<%= documentation.id %>" data-model="<%= documentation.to_json %>">
        <span class="meta-links">
          <button class="delete">Delete</button>
        </span>

        <div class="field">
          <label>Title <input type="text" name="documentations[<%= documentation.id %>][title]" <%= "value='#{documentation.title}'" %>></label>
        </div>

        <div class="field">
          <label for="edit-file">File</label>
          <% if documentation.media %>
          <p>Current File: <a target="_blank" href="http://s3.amazonaws.com/itp_archive/documentation/<%= documentation.id %>/<%= documentation.media_file_name %>"><%= documentation.media_file_name %></a></p>
          <% end %>
          <input id="edit-file" type="file" name="documentations[<%= documentation.id %>][media]"/>
          <span class="description">Choose a replacement file.</span>
        </div>

          <label for="edit-text">Text:</label>
          <textarea name="documentations[<%= documentation.id %>][paper]" id="edit-text" rows="10"><%= documentation.paper %></textarea>

        <div class="field">
          <label>Integrity:</label>
          <select name="documentations[<%= documentation.id %>][integrity]">
            <option <%= "selected" if documentation.integrity == 0 %> value="0">Unevaluated</option>
            <option <%= "selected" if documentation.integrity == 1 %> value="1">Unacceptable</option>
            <option <%= "selected" if documentation.integrity == 2 %> value="2">Fragment</option>
            <option <%= "selected" if documentation.integrity == 3 %> value="3">Great</option>
          </select>
          <p class="description">What is the state of the text file compared to the PDF?</p>
        </div>

        <div class="field">
          <label>Flagged?:</label>
          <select name="documentations[<%= documentation.id %>][flag]">
            <option value="false">Unflagged</option>
            <option <%= "selected" if documentation.flag == true %> value="true">Flagged</option>
          </select>
          <p class="description">Does the PDF need to be edited?</p>
        </div>

        <div class="field">
        <label><input type="checkbox" name="documentations[<%= documentation.id %>][has_images]" value="1"> Has Images?</label>
        </div>

        <div class="field">
        <label>Physical Location: <input <%= "value='#{documentation.physical_location}'" if documentation.physical_location %> type="text" name="documentations[<%= documentation.id %>][physical_location]"> <span class="description">Where is this stored? Is it in a box? Where is the box?</span></label>
        </div>

        <div class="field">
        <label>Medium: <input <input <%= "value='#{documentation.medium}'" if documentation.medium %> type="text" name="documentations[<%= documentation.id %>][medium]"> <span class="description">Paper, CDROM, Diskette, etc.</span></label>
        </div>
      </li>
      <% end %>
    </ul>
    <button class="green" id="new-documentation-form-button"><span class="pictos">+</span> Add A Document</button>
  </div>

  <div class="actions align-center">
    <button class="submit">Save Thesis</button>
  </div>
<% end %>

<script type="text/template" id="new-documentation-form">
<li>
<span class="meta-links">
  <button class="delete">Delete</button>
</span>

<div class="field">
  <label>Title <input type="text" name="new_documentation[title]"></label>
</div>

<div class="field">
  <label for="edit-file">File</label>
  <input id="edit-file" type="file" name="new_documentation[media]"/>
  <span class="description">Choose a file.</span>
</div>

  <label for="edit-text">Text:</label>
  <textarea name="new_documentation[paper]" id="edit-text" rows="10"></textarea>

<div class="field">
  <label>Integrity:</label>
  <select name="new_documentation[integrity]">
    <option value="0">Unevaluated</option>
    <option value="1">Unacceptable</option>
    <option value="2">Fragment</option>
    <option value="3">Great</option>
  </select>
  <p class="description">What is the state of the text file compared to the PDF?</p>
</div>

<div class="field">
  <label>Flagged?:</label>
  <select name="new_documentation[flag]">
    <option value="false">Unflagged</option>
    <option value="true">Flagged</option>
  </select>
  <p class="description">Does the PDF need to be edited?</p>
</div>

<div class="field">
<label><input type="checkbox" name="new_documentation[has_images]" value="1"> Has Images?</label>
</div>

<div class="field">
<label>Physical Location: <input type="text" name="new_documentation[physical_location]"> <span class="description">Where is this stored? Is it in a box? Where is the box?</span></label>
</div>

<div class="field">
<label>Medium: <input type="text" name="new_documentation[medium]"> <span class="description">Paper, CDROM, Diskette, etc.</span></label>
</div>
</li>  
</script>
