<%= form_for(@thesis, :html => {:multipart => true}) do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h4>

      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section>
    <h4>Thesis:</h4>
    <fieldset>
      <div class="field">
        <label>Title:</label>
        <input type="text" name="thesis[title]" id="thesis_title" size="30"/>
      </div>

      <div class="field">
        <label>Year:</label>
        <input id="thesis_year" type="number" name="thesis[year]" size="30" max="<%= Date.today.year %>" min="1970">
      </div>
    
      <div class="field">
        <label>Curatorial Notes:</label>
        <textarea id="thesis_notes" type="" name="thesis[notes]" cols="50" rows="10"></textarea>
      </div>
    </fieldset>
  </section>

  <section>
    <h4>Article:</h4>
    <fieldset>
      <div class="field">
        <label>PDF: </label>
        <input id="documentation_media" type="file" name="documentation[media]" />
      </div>

      <div class="field">
        <label>Text File:</label>
        <input id="documentation_paper" type="file" name="documentation[paper]">
      </div>
    </fieldset>
  </section>

  <section>
    <h4>Author:</h4>
    <fieldset>
      <div class="field">
        <label>First Name:</label>
        <input type="text" name="person[first]"/>
      </div>

      <div class="field">
        <label>Last Name:</label>
        <input type="text" name="person[last]">
      </div>

      <div>
        <label>Graduation Year:</label>
        <input type="number" name="person[year]" size="30" min="1970" max="<%= Date.today.year %>">
      </div>
    </fieldset>
  </section>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
