<h1>Listing theses</h1>

<p><%= link_to 'New Thesis', new_thesis_path %></p>

<table id="theses-table">
  <thead>
    <th>Person</th>
    <th>Title</th>
    <th>Year</th>
    <th>Notes</th>
    <th>URL</th>
    <th>Text?</th>
  </thead>

<% @theses.each do |thesis| %>
  <tr>
    <td><%= thesis.person.full_name if thesis.person %></td>
    <td>
      <% if thesis.title %>
      <%= link_to thesis.title, thesis %>
      <% else %>
      <%= link_to "<em>n/a</em>".html_safe, thesis %>
      <% end %>
      <span class="meta-links">
        <%= link_to 'edit', edit_thesis_path(thesis) %>
        <%= link_to 'delete', thesis, confirm: 'Are you sure?', method: :delete, :class => "delete" %>
      </span>
    </td>
    <td><%= thesis.year %></td>
    <td><%= thesis.notes %></td>
    <td>
      <% thesis.documentations.each do |document| %>
      <% end %>
    </td>
    <td>
      <% thesis.documentations.each do |document| %>
        <%= document.paper ? "Yes" : "NO" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
