<h1>Listing theses</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Title</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @theses.each do |thesis| %>
  <tr>
    <td><%= thesis.person.full_name %></td>
    <td><%= thesis.title %></td>
    <td><%= thesis.year %></td>
    <td><%= link_to 'Show', thesis %></td>
    <td><%= link_to 'Edit', edit_thesis_path(thesis) %></td>
    <td><%= link_to 'Destroy', thesis, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thesis', new_thesis_path %>
