<header>
  <h3><%= @thesis.person.full_name if @thesis.person %></h3>
  <h2><%= @thesis.title %></h2>
  <h4><%= @thesis.year %></h4>
  <h4><%= star @thesis.favoritors, @thesis if user_signed_in? %></h4>
</header>
<% if user_signed_in? %>
<div class="meta-links float-right visible">
  <%= link_to 'Edit', edit_thesis_path(@thesis) %>
  <%= link_to 'Delete', @thesis, confirm: 'Are you sure?', method: :delete, :class => "delete" %>
</div>
<% end %>

<div class="text">
  <% if @thesis.documentations %>
    <% @thesis.documentations.each do |document|%>
    <p class="align-center">
      <%= document.link_to_pdf("View PDF")%>
      <% if user_signed_in? %>
        <%= "<span class='negative'>⚑</span>".html_safe if document.flag %>
        <%= "<span title='has images'>✦</span>".html_safe if document.has_images %>
        <%= read_status document.readers, document %>
      <% end %>
    </p>
    <%= markdown document.paper if document.paper %>
    <% end %>
  <% end %>
</div>

<a name="notes"></a>
<div class="notes">
  <% @thesis.notes.each do |note| %>
    <h6><%= note.user %></h6>
    <div>
      <%= markdown note.body %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', theses_path %>
