<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @thesis.title %>
</p>

<p>
  <b>Person:</b>
  <%= @thesis.person.full_name if @thesis.person %>
</p>

<p>
  <b>Year:</b>
  <%= @thesis.year %>
</p>

<div>
  <% if @thesis.documentations %>
    <% @thesis.documentations.each do |document|%>
      <p>PDF: <%= document.link_to_pdf(document.media_file_name)%></p>
      <div><%= document.paper %></div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_thesis_path(@thesis) %> |
<%= link_to 'Back', theses_path %>
