<header>
  <h3><%= @thesis.person.full_name if @thesis.person %></h3>
  <p><%= @thesis.person.bio %></p>
  <h2><%= @thesis.title %></h2>
  <h4><%= @thesis.year %></h4>
  <h4><%= star @thesis.favoritors, @thesis if user_signed_in? %></h4>
</header>
<% if user_signed_in? %>
<div class="meta-links float-right visible">
  <%= link_to 'Edit', edit_thesis_path(@thesis) %>
  <%= link_to 'Delete', @thesis, confirm: 'Are you sure?', method: :delete, :class => "delete" %>
</div>
<% end %>

<div class="abstract">
  <%= markdown @thesis.abstract if @thesis.abstract%>
</div>

<div class="text">

  <% (@thesis.documentations || []).each do |documentation|%>

<h5>
  <span class="title"><%= documentation %></span>
  <span class="description"><%= documentation.type %></span>

  <%= "<span class='negative pictos'>^</span>".html_safe if documentation.flag %>
  <%= "<span class='pictos' title='has images'>P</span>".html_safe if documentation.has_images %>
  <%= documentation.link_to_pdf("View PDF")%>
</h5>
  <%= reads_list(documentation, current_user) if user_signed_in? %>
  <p class="description negative"><%= documentation.notation if(user_signed_in? && documentation.notation) %></p>

  <%= markdown documentation.paper if documentation.paper %>
  <% end %>

</div>

<a name="notes"></a>
<div class="notes" data-current-user="<%= current_user %>">

  <ul>
    <% @thesis.notes.each do |note| %>
    <% if note.public || user_signed_in? %>
    <li data-id="<%= note.id %>">
      <h6><%= note.user %></h6>
      <div>
        <%= markdown note.body %>
      </div>
      <p><em><%= note.is_public %></em>
      <% if user_signed_in? and note.user_id == current_user.id %>
        <span class="delete-note negative">Delete Note</span>
      <% end %>
      </p>
    </li>
    <% end %>
    <% end %>
  </ul>

  <% if user_signed_in? %>
  <div class="new-note" data-notable-type="Thesis" data-notable-id="<%= @thesis.id %>" data-user-id="<%= current_user.id %>">
    <button class="add-note-button"><span class="pictos">+</span> Add A Note</button>
  </div>
  <% end %>

</div>

<script type="text/template" id="article-template">
  <div class="text">
  <p class="align-center">{{ pdf }}</p>
  {{ text }}
  </div>
</script>

<script type="text/template" id="note-template">
  <li data-id="{{ id }}">
    <h6>{{ user.username }}</h6>
    <div>{{ body }}</div>
    <p class="delete-note negative">Delete Note</p>
  </li>
</script>

<script type="text/template" id="add-note-template">
  <textarea name="body"></textarea>
  <label><input type="checkbox"></input> Make Public</label>
  <button class="submit">Save Note</button>
</script>

<%= link_to 'Back', theses_path %>
