<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @thesis.title %>
</p>

<p>
  <b>Person:</b>
  <%= @thesis.person.full_name %>
</p>

<p>
  <b>Year:</b>
  <%= @thesis.year %>
</p>

<div>
  <% if @thesis.documentation %>
    <% @thesis.documentation.each do |document|%>
      <p>URL: <%= document.aws_url %></p>
      <p>Title: <%= document.title %></p>
      <div><%= document.paper %></div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_thesis_path(@thesis) %> |
<%= link_to 'Back', theses_path %>
