<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @thesis.title %>
</p>

<p>
  <b>Person:</b>
  <%= @thesis.person_id %>
</p>

<p>
  <b>Year:</b>
  <%= @thesis.year %>


<%= link_to 'Edit', edit_thesis_path(@thesis) %> |
<%= link_to 'Back', theses_path %>
