<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> Remember Me</div>
  <% end -%>

  <div class="actions">
    <button class="submit">Sign in</button>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>