<!DOCTYPE html>
<html>
<head>
  <title>Itparchive</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1><a href="/">ITP Archive</a></h1>

      <div id="user-nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.username %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>

      <nav>
        <ul>
          <li><%= link_to "Theses", theses_path %></li>
          <li><%= link_to "Documentations", documentations_path %></li>
        </ul>
      </nav>
    </header>
    <% if notice || alert %>
    <div id="notice">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
