<!DOCTYPE html>
<html>
<head>
  <title>Itparchive</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <link href="http://sklise.s3.amazonaws.com/pictos/pictos.css" rel="stylesheet" type="text/css"></link>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29765526-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1><a href="<%= user_signed_in? ? "/dashboard" : "/" %>">ITP Archive</a></h1>

      <div id="user-nav">
        <% if user_signed_in? %>
          Signed in as <%= link_to current_user.username, '/users/edit' %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>

      <nav>
        <ul>
          <li><%= link_to "Theses", theses_path %></li>
          <li><%= link_to "Documentations", documentations_path %></li>
          <li><%= link_to "Favorites", favorites_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Dashboard", '/dashboard'%></li>
            <li><%= link_to "Notes", '/notes' %></li>
            <li><%= link_to "Search", '/search' %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <% if notice || alert %>
    <div id="notice">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
